
.controls{

position:fixed;

bottom:20px;

width:100%;

display:flex;

justify-content:center;

gap:20px;

}

.controls button{

padding:12px 25px;

font-size:20px;

}

.page{

display:none;

animation:fade .7s;

}

.page.active{

display:flex;

}

@keyframes fade{

from{

opacity:0;

transform:translateX(50px);

}

to{

opacity:1;

transform:translateX(0);

}

}
